.wedding{
   
    height: 450px;
    width:450px;
    margin:auto;
    background-color: white;
border-radius:0 0 200px 200px;

}

.text{
    text-align: center;
   
    padding:20px 20px 20px 20px;
    margin-top: 160px;
    margin-left: 80px;;
    position: absolute;
}
.image{
    margin-top: 180px;
    margin-left: 10px;
    
}
body{
    background-color: rgb(244,244,244);
}
.wish{ height: 450px;
    width:450px;
    margin: auto;
    text-align: center;
    
}
.wish p{
    color:rgb(14,14,14);
}
button{
    color:white;
    background-color: black;
    height:50px;
    width:190px;
}
.w2{
    margin-top: -20px;
}